

body{
  background-color: #F3F3F3;
}

img{
  max-width: 500px;
}

header, footer{
  height: 80px;
}

.content{
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}